@page
@model SportsLendDB_NguyenNhatTruong.Pages.Authetication.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="row text-center">
    <h3 class="text-danger">Access Denied</h3>
    <h4 class="text-danger">You have no permission to access this function!</h4>
</div>
